<div class="col-sm-4 mb-3 mb-sm-0">
  <div class="card">
    <div class="card-header text-white text-uppercase fw-bold" style="background-color: {{ card_collor }};">
      {{ expense.title }}
    </div>    
    <div class="card-body">
      <h5 class="card-title">Current spending: {{ expense.total }}</h5>
      <p class="card-text">Limit: {{ expense.limit }}</p>
      <button class="btn btn-warning" hx-get="{% url 'edit_expense' expense.id %}" hx-target="#expenseModalForm">Edit</button>
      <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
    </div>
  </div>
</div>