<div class="modal fade" id="expenseModal" tabindex="-1" aria-labelledby="expenseModalForm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="expenseModalForm" hx-target="this">
    </div>
  </div>