<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Amount</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Date</th>
        <th scope="col">Comment</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>+{{ transaction.amount }}</td>
        <td>{{ transaction.source }}</td>
        <td>{{ transaction.target }}</td>
        <td>{{ transaction.date|date:"d.m.Y H:i" }}</td>
        <td>
            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
            {{ transaction.comment|truncatechars:50 }}
            </span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>