{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<form hx-confirm="Update expense {{ expense.title }}?" hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
  <div class="modal-header">
    
    <h1 class="modal-title fs-5" id="exampleModalLabel">{% if expense %} Update "{{ expense.title }}"{% else %}Create{% endif %}</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="form-floating mb-3">
      {% render_field form.title class="form-control" aria-describedby="basic-addon3" %}
      <div class="invalid-feedback">{{ form.title.errors|first }}</div>
      <label for="{{ form.title.id_for_label }}" class="form-label">Expense title</label>
    </div>
    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating mb-3">
          {% render_field form.total class="form-control" aria-describedby="basic-addon3" disabled=None %}
          <div class="invalid-feedback">{{ form.total.errors|first }}</div>
          {{ form.total.label_tag }}
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating mb-3">
          {% render_field form.limit class="form-control" aria-describedby="basic-addon3" %}
          <div class="invalid-feedback">{{ form.limit.errors|first }}</div>
          {{ form.limit.label_tag }}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
{% comment %} <div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">{{ expense.title }}</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form class="form-floating">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="titleExpense" value="{{ expense.title }}">
        <label for="titleExpense">Expense title</label>
      </div>
      <div class="row g-2">
        <div class="col-md">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="totalExpense" value="{{ expense.total }}">
            <label for="totalExpense">Current amount</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="totalExpense" value="{{ expense.limit }}">
            <label for="totalExpense">Limit</label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div>
</div> {% endcomment %}
{% endwith %}