{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Expense{% endblock %}

{% block content %}
<!-- Modal -->
{% include "budget/expense_modal.html" %}

<div class="row justify-content-center m-3" id="expenseDetail" hx-get="{% url 'get_expense_detail' expense_id %}" hx-trigger="load, expenseChange from:body">
</div>

<div class="row" id="expenseTransactionTable" hx-get="{% url 'expense_transactions' expense_id %}" hx-target="#expenseTransactionTable" hx-swap="outerHTML" hx-trigger="load, expenseTransactionsChange from:body">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Amount</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Date</th>
        <th scope="col">Comment</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/expense.js' %}"></script>
{% endblock %}