{% extends "base.html" %}
{% load color %}

{% block title %}Family budget{% endblock %}

{% block content %}
{% comment %} Incomes carousel {% endcomment %}
<div class="row justify-content-center">
    <div id="carouselIncomes" class="carousel carousel-dark slide">
        <div class="carousel-inner">
        {% for incomes in incomes_list %}
          <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
            <div class="row justify-content-center">
                {% for income in incomes %}
                <div class="col-2">
                    <div class="card text-center ">
                        <div class="card-body">
                          <h5 class="card-title">{{ income.title }}</h5>
                          <p class="card-text">{{ income.total }} / {{ income.plan }}</p>
                          <a href="#" class="btn btn-outline-primary">Edit</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
          </div>
        {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIncomes" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIncomes" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% comment %} End incomes carousel {% endcomment %}
{% comment %} Start wallet carousel {% endcomment %}
<div class="row justify-content-center mt-5">
  <div id="carouselWallets" class="carousel carousel-dark slide">
    <div class="carousel-inner">
    {% for wallets in wallet_list %}
      <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
        <div class="row justify-content-center">
            {% for wallet in wallets %}
            <div class="col-2">
                <div class="card text-center">
                    <div class="card-body">
                      <h5 class="card-title">{{ wallet.title }}</h5>
                      <p class="card-text">{{ wallet.total }}</p>
                      <a href="{% url 'create_transaction' wallet.id %}" class="btn btn-outline-success">Add</a>
                      <a href="{% url 'get_wallet' wallet.id %}" class="btn btn-outline-info">info</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
      </div>
    {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselWallets" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselWallets" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
{% comment %} End wallet carousel {% endcomment %}
{% comment %} Start expenses carousel {% endcomment %}
<div class="row justify-content-center mt-5">
  {% for expenses_on_slide in expenses_list %}
    <div class="row justify-content-center">
        {% for expense in expenses_on_slide %}
        <div class="col-2">
            <div class="card text-center m-2 rounded-3">
              <div class="card-header text-white fw-bold" style="background-color: {% card_collor expense %};">
                {{ expense.title }}
              </div> 
              <div class="card-body">
                <p class="card-text">{{ expense.total }} / {{ expense.limit }}</p>
                <a href="{% url 'create_transaction' expense.id %}" class="btn btn-outline-success">Add</a>
                <a href="{% url 'get_expense' expense.id %}" class="btn btn-outline-info">info</a>
              </div>
            </div>
        </div>
        {% endfor %}
        {% if forloop.last and expenses_on_slide|length < 4 %}
        <div class="col-2">
          <div class="card text-center m-2 rounded-5">
              <div class="card-body">
                <h5 class="card-title">New</h5>
                <p class="card-text">New</p>
                <a href="#" class="btn btn-outline-success">Add</a>
                <a href="#" class="btn btn-outline-info">info</a>
              </div>
          </div>
        </div>
        {% elif forloop.last and expenses_on_slide|length == 4 %}
        <div class="row justify-content-center">
          <div class="col-2">
            <div class="card text-center m-2 rounded-5">
                <div class="card-body">
                  <h5 class="card-title">New</h5>
                  <p class="card-text">New</p>
                  <a href="#" class="btn btn-outline-success">Add</a>
                  <a href="#" class="btn btn-outline-info">info</a>
                </div>
            </div>
          </div>
        </div>
        {% endif %}
    </div>
  {% endfor %}
</div>
{% comment %} End expenses carousel {% endcomment %}
{% endblock %}