{% extends "base.html" %}

{% block title %}New transaction{% endblock %}

{% block content %}
<form action="{% url 'complete_transaction' target.id %}" method="post">
    {% csrf_token %}
    <div class="m-3 row justify-content-center">
        <div class="col text-center">
            {% if to_wallet %}
            <h3>Top-up wallet "{{ target.title }}"</h3>
            <h5>Balance: {{ target.total }}</h5>
            {% else %}
            <h3>Expense: "{{ target.title }}"</h3>
            <h5>Total: {{ target.total }}</h5>
            {% endif %}
        </div>
    </div>
    <div class="mb-3 row justify-content-center">
        <label for="sourceSelect" class="col-form-label col-2">From</label>
        <div class="col-5">
            <select class="form-select" aria-label="Default select example" id="sourceSelect" name="sourceSelect">
            {% for source in sources %}
            {% if target.id != source.id%}
            <option value="{{ source.id }}">{{ source.title }}</option>
            {% endif %}
            {% endfor %}
        </select>
        </div>
    </div>
    <div class="mb-3 row justify-content-center">
        <label for="transactionAmount" class="col-form-label col-2">Amount</label>
        <div class="col-5">
            <input type="text" value="0.0" class="form-control" id="transactionAmount" name="transactionAmount">
        </div> 
    </div>
    <div class="mb-3 row justify-content-center">
        <label for="transactionComment" class="col-form-label col-2">Comment</label>
        <div class="col-5">
            <textarea class="form-control" id="transactionComment" name="transactionComment" rows="3"></textarea>
        </div> 
    </div>
    <div class="row justify-content-center">
        <div class="col-auto text-center">
            <button type="submit" class="btn btn-primary">Create</button>
            <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</form>
{% endblock %}