{% extends "base.html" %}

{% block title %}{{wallet.title}}{% endblock %}

{% block content %}
<form action="{% url 'update_wallet' wallet.id%}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="col">
      <button type="submit" class="btn btn-primary">Update</button>
      <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
    </div>
</form>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Amount</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Date</th>
        <th scope="col">Comment</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr class="table-{% if wallet.id == transaction.source.id %}danger{% else %}success{% endif %}">
        <th scope="row">{{ forloop.counter }}</th>
        <td class="fw-bold text-{% if wallet.id == transaction.source.id %}danger">-{{ transaction.amount }}{% else %}success">+{{ transaction.amount }}{% endif %}</td>
        <td>{{ transaction.source }}</td>
        <td>{{ transaction.target }}</td>
        <td>{{ transaction.date|date:"d.m.Y H:i" }}</td>
        <td>
            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
            {{ transaction.comment|truncatechars:50 }}
            </span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}